#buttonOk {
  overflow: hidden;
  width: 10vw;
  height: 7vh;
  z-index: 10;
}

#buttonOk:hover {
  cursor: pointer;

}

#buttonOk:active {

}

.flip-box {
  width: 15vw;
  height: 14vh;
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 15vw;
  height: 14vh;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 15vw;
  height: 14vh;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  opacity: 0.7
}

/* Style the back side */
.flip-box-back {

  transform: rotateY(180deg);
}
